* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Baloo da 2";
}

.spinner-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
